@page
@model SinavOlusturma.Pages.ListeleModel

@{
    ViewData["Title"] = "Listele";
}

<h1>Sınav Liste Ekranı</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Başlık
            </th>
            <th>
                Tarih
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Questions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
